In [1]:
import pandas as pd
data=pd.read_csv('matches.csv')
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [2]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [3]:
data.player_of_match.value_counts().idxmax()

'CH Gayle'

In [4]:
data.city.value_counts().idxmax()

'Mumbai'

In [5]:
data.venue.value_counts().idxmax()

'M Chinnaswamy Stadium'

In [6]:
data.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [7]:
data.drop('umpire3',inplace=True,axis=1)

In [8]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2'],
      dtype='object')

In [9]:

##to select a row with max win  by runs 
data.loc[data.win_by_runs.idxmax()]

id                               44
season                         2017
city                          Delhi
date                     2017-05-06
team1                Mumbai Indians
team2              Delhi Daredevils
toss_winner        Delhi Daredevils
toss_decision                 field
result                       normal
dl_applied                        0
winner               Mumbai Indians
win_by_runs                     146
win_by_wickets                    0
player_of_match         LMP Simmons
venue              Feroz Shah Kotla
umpire1                 Nitin Menon
umpire2                   CK Nandan
Name: 43, dtype: object

In [10]:
#to selct a row with high win by runs in horizontal representation
data.loc[[data.win_by_runs.idxmax()]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan

In [11]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2'],
      dtype='object')

In [12]:
data.toss_winner.max()

'Sunrisers Hyderabad'

In [13]:
data.loc[[data.win_by_wickets.idxmax()]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [14]:
data.umpire1.value_counts().idxmax()

'HDPK Dharmasena'

In [46]:
#winners in ipl year wise
"""
d1={}
l1=[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
for i in l1:
    d1[i]=data[data.season==i].iloc[-1].winner

year=[]
winner=[]

for i,j in  d1.items():
    year.append(i)
    winner.append(j)
df=pd.DataFrame(winner,year)
df.to_csv('winners',header=None)


"""
df=pd.read_csv('matches.csv')
req=df.drop_duplicates(keep='last',subset='season')#keeps the last row of each season 
df1=pd.DataFrame(data=list(req.winner),columns=['winner'],index=list(req.season))
df1.sort_index(ascending=True).to_csv('winners.csv')

In [24]:
data[data.season==2011].winner.value_counts().idxmax()

'Chennai Super Kings'

In [17]:

data[data.season==2011].iloc[-1].winner

'Chennai Super Kings'

In [18]:
#checking for team which win more matches in a season win the title or not
d1={}
l1=[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
for i in l1:
    d1[i]=data[data.season==i].winner.value_counts().idxmax() is data[data.season==i].iloc[-1].winner
d1

{2008: True,
 2009: False,
 2010: False,
 2011: True,
 2012: True,
 2013: True,
 2014: False,
 2015: False,
 2016: True,
 2017: True}

In [19]:
# storing  final match details for  each season into a data frame

data11=[]
for i in l1:
    data11.append(data[data.season==i].iloc[-1])
#print(data11)
data123=pd.DataFrame(data11)
data123.replace({'dl_applied':0},'no',inplace=True)
data123.drop(columns='id',inplace=True)
data123.set_index('date',inplace=True)
data123.to_csv('new_each_season_ipl_final.csv')

In [20]:
#splitted data frame with each city
g=data.groupby('city')
g.max()

,id,season,date,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue
city,,,,,,,,,,,,
Abu Dhabi,476,2014,2014-04-29,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,tie,0,93,6,Sheikh Zayed Stadium
Ahmedabad,540,2015,2015-04-24,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,62,9,"Sardar Patel Stadium, Motera"
Bangalore,636,2017,2017-05-19,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,tie,1,144,10,M Chinnaswamy Stadium
Bloemfontein,165,2009,2009-05-17,Delhi Daredevils,Rajasthan Royals,Kings XI Punjab,field,normal,0,14,6,OUTsurance Oval
Cape Town,130,2009,2009-04-26,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,1,75,10,Newlands
Centurion,172,2009,2009-05-22,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,1,38,8,SuperSport Park
Chandigarh,622,2017,2017-05-09,Sunrisers Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,field,normal,0,76,10,"Punjab Cricket Association Stadium, Mohali"
Chennai,563,2015,2015-05-10,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,tie,0,97,9,"MA Chidambaram Stadium, Chepauk"
Cuttack,497,2014,2014-05-14,Mumbai Indians,Pune Warriors,Kolkata Knight Riders,field,normal,0,44,9,Barabati Stadium
Delhi,635,2017,2017-05-14,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,1,146,10,Feroz Shah Kotla
Dharamsala,450,2013,2013-05-18,Kings XI Punjab,Royal Challengers Bangalore,Mumbai Indians,field,normal,0,111,6,Himachal Pradesh Cricket Association Stadium
Durban,169,2009,2009-05-20,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,1,78,9,Kingsmead
East London,150,2009,2009-05-08,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,bat,normal,0,78,7,Buffalo Park
Hyderabad,618,2017,2017-05-21,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,tie,1,77,9,"Rajiv Gandhi International Stadium, Uppal"
Indore,294,2017,2017-04-20,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,normal,0,0,8,Holkar Cricket Stadium
Jaipur,442,2013,2013-05-12,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,field,normal,0,87,10,Sawai Mansingh Stadium
Johannesburg,174,2009,2009-05-24,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,18,9,New Wanderers Stadium
Kanpur,630,2017,2017-05-13,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,0,8,Green Park
Kimberley,155,2009,2009-05-11,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,field,normal,0,53,7,De Beers Diamond Oval
Kochi,278,2011,2011-05-05,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kolkata Knight Riders,field,normal,1,55,7,Nehru Stadium
Kolkata,631,2017,2017-05-13,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,1,82,9,Eden Gardens
Mumbai,600,2017,2017-05-16,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,105,10,Wankhede Stadium
Nagpur,220,2010,2010-04-12,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,13,6,"Vidarbha Cricket Association Stadium, Jamtha"
Port Elizabeth,162,2009,2009-05-16,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,normal,0,92,7,St George's Park
Pune,605,2017,2017-05-14,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,97,9,Subrata Roy Sahara Stadium
Raipur,632,2016,2016-05-22,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,field,normal,0,15,7,Shaheed Veer Narayan Singh International Stadium
Rajkot,607,2017,2017-04-29,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,tie,0,26,10,Saurashtra Cricket Association Stadium
Ranchi,575,2015,2015-05-22,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,34,6,JSCA International Stadium Complex
Sharjah,474,2014,2014-04-27,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,72,8,Sharjah Cricket Stadium
Visakhapatnam,629,2016,2016-05-21,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,1,85,7,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...

In [21]:
sum(data.columns.isnull())

0

In [22]:
type(data.columns.values)

numpy.ndarray

In [23]:
type(data.columns)

pandas.core.indexes.base.Index