In [64]:
import pandas as pd
data=pd.read_csv('matches.csv')
data.head()

In [91]:
row,col=data.shape
row,col

(636, 18)

In [92]:
data.size

11448

In [ ]:
data.columns

In [87]:
data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [88]:
data.dtypes

id                   int64
season               int64
city                object
date                object
team1               object
team2               object
toss_winner         object
toss_decision       object
result              object
dl_applied           int64
winner              object
win_by_runs          int64
win_by_wickets       int64
player_of_match     object
venue               object
umpire1             object
umpire2             object
umpire3            float64
dtype: object

In [89]:
data.dtypes.value_counts()

object     12
int64       5
float64     1
dtype: int64

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.5+ KB

In [93]:
data.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [94]:
data.drop('umpire3',inplace=True,axis=1)
data.sample()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
158,159,2009,Durban,2009-05-14,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Royal Challengers Bangalore,0,2,LRPL Taylor,Kingsmead,BR Doctrove,DJ Harper

In [ ]:
data.city.value_counts().idxmax()

In [ ]:
data.venue.value_counts().idxmax()

In [ ]:
#to selct a row with high win by runs in horizontal representation

data.loc[[data.win_by_runs.idxmax()]]

In [ ]:
data.toss_winner.max()

In [8]:
data.win_by_wickets.idxmax()

2

In [11]:
data.loc[[data.win_by_wickets.idxmax()]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [19]:
data.umpire1.value_counts().idxmax()

'HDPK Dharmasena'

In [21]:
#winners in ipl year wise
"""
d1={}
l1=[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
for i in l1:
    d1[i]=data[data.season==i].iloc[-1].winner

year=[]
winner=[]

for i,j in  d1.items():
    year.append(i)
    winner.append(j)
df=pd.DataFrame(winner,year)
df.to_csv('winners',header=None)


"""
df=pd.read_csv('matches.csv')
req=df.drop_duplicates(keep='last',subset='season')#keeps the last row of each season 
df1=pd.DataFrame(data=list(req.winner),columns=['winner'],index=list(req.season))
df1.sort_index()
#df1.sort_index(ascending=True).to_csv('winners.csv')

                     winner
2008       Rajasthan Royals
2009        Deccan Chargers
2010    Chennai Super Kings
2011    Chennai Super Kings
2012  Kolkata Knight Riders
2013         Mumbai Indians
2014  Kolkata Knight Riders
2015         Mumbai Indians
2016    Sunrisers Hyderabad
2017         Mumbai Indians

In [ ]:

data[data.season==2011].iloc[-1].winner

In [63]:
#checking for team which won more matches in a season win the title with season as key?
d1={}
d2={}
l1=[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
for i in l1: 
        d1[i]={data[data.season==i].winner.value_counts().idxmax():str(data[data.season==i].winner.value_counts().idxmax() is data[data.season==i].iloc[-1].winner)}
d1

{2008: {'Rajasthan Royals': 'True'},
 2009: {'Delhi Daredevils': 'False'},
 2010: {'Mumbai Indians': 'False'},
 2011: {'Chennai Super Kings': 'True'},
 2012: {'Kolkata Knight Riders': 'True'},
 2013: {'Mumbai Indians': 'True'},
 2014: {'Kings XI Punjab': 'False'},
 2015: {'Mumbai Indians': 'True'},
 2016: {'Sunrisers Hyderabad': 'True'},
 2017: {'Mumbai Indians': 'True'}}

In [ ]:
# storing  final match details for  each season into a data frame

data11=[]
for i in l1:
    data11.append(data[data.season==i].iloc[-1])
#print(data11)
data123=pd.DataFrame(data11)
data123.replace({'dl_applied':0},'no',inplace=True)
data123.drop(columns='id',inplace=True)
data123.set_index('date',inplace=True)
data123.to_csv('new_each_season_ipl_final.csv')

In [95]:
#most match winner and most toss winning teams in each season 
d2={}
for i in set(df.team1):
    d2[i]={data.groupby(by='winner').get_group(i)['toss_winner'].value_counts().idxmax():data.groupby(by='winner').get_group(i)['toss_winner'].value_counts().max()}
d2

{'Chennai Super Kings': {'Chennai Super Kings': 42},
 'Deccan Chargers': {'Deccan Chargers': 19},
 'Delhi Daredevils': {'Delhi Daredevils': 33},
 'Gujarat Lions': {'Gujarat Lions': 10},
 'Kings XI Punjab': {'Kings XI Punjab': 28},
 'Kochi Tuskers Kerala': {'Kochi Tuskers Kerala': 4},
 'Kolkata Knight Riders': {'Kolkata Knight Riders': 44},
 'Mumbai Indians': {'Mumbai Indians': 48},
 'Pune Warriors': {'Pune Warriors': 3},
 'Rajasthan Royals': {'Rajasthan Royals': 34},
 'Rising Pune Supergiant': {'Rising Pune Supergiant': 5},
 'Rising Pune Supergiants': {'Rising Pune Supergiants': 3},
 'Royal Challengers Bangalore': {'Royal Challengers Bangalore': 35},
 'Sunrisers Hyderabad': {'Sunrisers Hyderabad': 17}}